# Production Database URL
DATABASE_URL="postgresql://neondb_owner:npg_fETB6QaL2qtR@ep-solitary-feather-a4irdmyp-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Admin Kullanıcısı Oluşturma (İlk admin için)
ADMIN_EMAIL="admin@karbonkurs.com"
ADMIN_PASSWORD="QAZWSX.90"
ADMIN_NAME="Admin User"
ADMIN_KURUM_SUBE="Rize"
